.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  border: none;
  border-radius: 2em;
  margin: 0.3em;
}

button:hover{
  cursor: pointer;
}

.container{
  background-color: black;
  border-radius: 1em;
  text-align: center;
}

.orange{
  background-color: #FF9500;
  color: white;
}

.gray{
  background-color: #505050;
  color: white;
}
.result{
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.85em;
  font-size: 3.5em;
}